/* index.js Style Sheet */
body {
	margin: 0;
	font-family: monospace;
	background-color: #adadad;
}

/* Link CSS */
a {
	color: #000;
}

a:link {
	text-decoration: none;
}

a:hover {
	opacity: 0.75;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
